main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    grid-auto-rows: minmax(336px, auto);
    justify-items: center;
}

.card {
    width: 242px;
    height: 336px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 1px solid #eeeeee;
    box-shadow:  0.3em 0.3em 1em rgba(0,0,0,0.3);
    perspective: 1000px;
}

.card:disabled {
    color: unset;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

.card-back {
    transform: rotateY(180deg);
    font: 5em sans-serif;
}

.card.selected .card-inner{
    transform: rotateY(180deg);
}


.card.success {
    background-color: green;
}

.card.failure {
    background-color: red;
}

